.card.to-do-list{
    width: 300px;
}

.card-footer-item > span{
    position: relative;
    bottom: 1px;
    left: 4px;
}

.card.to-do-list .card-image{
    position: relative;
}

.card.to-do-list .card-image > .text-desc{
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.card.to-do-list .card-image > .text-desc > span{
    color: #ffffff;
    
    font-size: 1.5rem;
}

.card.to-do-list .card-content{
    overflow-y: scroll;
    max-height: 225px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-content > .content .block{
    padding-bottom: 0.8rem;
}

.card-content > .content .block .columns{
    display: flex !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.card-content > .content .block .columns .column{
    padding: 0 !important;
}

.card-content > .content .block .columns .column:first-child{
    text-align: left;
}

.card-content > .content .block .columns .column:nth-child(2){
    text-align: left;
}

.card-content > .content .block .columns .column:last-child{
    text-align: right;
}

.card-content > .content .block .columns .column.is-four-fifths{
    flex: none !important;
    width: 80% !important;
}