.input-to-do{
    position: relative;
    width: 100%;

    border: 0;
    font-size: 87%;
    padding: 4px;
    transition: 450ms;
    outline: none;
    bottom: 1px;
}

.input-to-do[disabled="true"]{
    background-color: transparent;
    text-decoration: line-through;
}

.card-content > .content .block .columns > .column:first-child{
    cursor: pointer !important;
}

.to-do-trash{
    cursor: pointer !important;
}