.input-to-do{
    position: relative;
    width: 100%;

    border: 0;
    font-size: 87%;
    padding: 4px;
    transition: 450ms;
    outline: none;
    bottom: 1px;
}

.input-to-do[disabled="true"]{
    background-color: transparent;
    text-decoration: line-through;
}

.card-content > .content .block .columns > .column:first-child{
    cursor: pointer !important;
}

.card-content > .content .block .columns > .column:last-child{
    cursor: pointer !important;
}

.card-content > .content .block .columns > .column:last-child::before{
    position: absolute;
    transition: opacity 150ms ease;
    content: " ";
    width: 28px;
    height: 28px;
    opacity: 0;
    border-radius: 50px 50px;
    transform: translateX(-7px) translateY(-1px);
    background-color: rgba(0,0,0,0.1);
}

.card-content > .content .block .columns > .column:last-child:active::before{
    opacity: 1;
}